<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbItemGroupMapper">
    <select id="findGroupByCId" resultType="com.taotao.pojo.ItemGroup">
        SELECT * FROM tbitemparamgroup WHERE itemCatId = #{itemCatId};
    </select>
    <select id="findKeyByGroupId" resultType="com.taotao.pojo.ParamKeys">
        SELECT * FROM tbitemparamkey WHERE groupId = #{groupId};
    </select>
    <insert id="addItemGroup">
        INSERT INTO tbitemparamgroup (groupName,itemCatId) VALUE (#{groupName},#{itemCatId});
    </insert>
    <select id="findItemGroupIdByIDAndName" resultType="int">
        SELECT id FROM tbitemparamgroup WHERE itemCatId = #{itemCatId} AND groupName = #{groupName};
    </select>
    <insert id="addItemKey">
        INSERT INTO tbitemparamkey (paramName, groupId) VALUE (#{paramName},#{groupId});
    </insert>
</mapper>