<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.taotao.mapper.TbUserMapper">
    <select id="checkUserName" resultType="int">
        SELECT COUNT(*) FROM tbuser WHERE userName = #{userName};
    </select>
    <select id="checkPhone" resultType="int">
        SELECT COUNT(*) FROM tbuser WHERE phone = #{phone};
    </select>
    <select id="checkEmail" resultType="int">
        SELECT COUNT(*) FROM tbuser WHERE email = #{email};
    </select>
    <insert id="addUser"  parameterType="com.taotao.pojo.TbUser" >
        INSERT INTO tbuser (userName, passWord, phone, email, created, updated,status) VALUE (#{userName},#{passWord},#{phone},#{email},#{created},#{updated},#{status});
    </insert>
    <select id="findUserByUserNameAndPassWord" resultType="com.taotao.pojo.TbUser">
        SELECT * FROM tbuser WHERE userName = #{userName} AND passWord = #{passWord};
    </select>
    <update id="upDateStatus">
        UPDATE tbuser SET status = #{status} WHERE id = #{id};
    </update>
    <select id="fingUserAll" resultType="int">
        SELECT COUNT(*) FROM tbuser
    </select>
    <update id="upDateStatusAll">
        UPDATE tbuser SET status = #{status};
    </update>
</mapper>